body {
  background-color: rgba(125, 255, 222, 0.384);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablets) {
    width: $tablets;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.hiro {
  //   background-image: url(../images/World-in-your-hands-1-1200x553.jpg);
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $tablets - 1) {
    height: 250px;
    background-image: url(../images/World-in-your-hands-1-1200x553.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 480px;
  }
  @media screen and (min-width: $tablets) {
    height: 350px;
    background-image: url(../images/World-in-your-hands-1-1200x553.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 768px;
  }
  @media screen and (min-width: $desktop) {
    height: 420px;
    background-image: url(../images/World-in-your-hands-1-1200x553.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
  }
}

.standart-a {
  text-decoration: none;
  display: block;
}
.standart-ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
